$abre-black: #1d1d1b;
$abre-dark-grey: #4d4d4d;
$abre-description-grey: #B2B2B2;
$abre-grey: #c1c1c1;
$abre-light-grey: #f3f3f3;
$abre-green: #237116;

$font-light: "Founders_Grotesk_Light", sans-serif;
$font-regular: "Founders_Grotesk_Regular", sans-serif;

$titles-color: $abre-dark-grey;
$titles-font: $font-regular;
$titles-font-weight: 400;

$btn-font: $font-light;
$btn-font-weight: 400;
$btn-font-size: 20px;
$btn-font-weight: 300;
$btn-background: $abre-black;
$btn-color: #fff;
$btn-border: 1px solid $abre-black;
$btn-hover-transition: 0.3s ease all;
$btn-hover-background: transparent;
$btn-hover-color: $abre-black;

$product-internal-background: #f3f3f3;

$easeInCubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$easeInExpo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
$easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$easeOutCirc: cubic-bezier(0.075, 0.82, 0.165, 1);

@mixin xs-up {
  @media (min-width: 576px) { @content; }
}
@mixin md-up {
  @media (min-width: 768px) { @content; }
}
@mixin lg-up {
  @media (min-width: 992px) { @content; }
}
@mixin xl-up {
  @media (min-width: 1200px) { @content; }
}
@mixin landscape {
  @media screen and (orientation: landscape) { @content; }
}


