@font-face {
  font-family: "Founders_Grotesk_Regular";
  src: url("assets/fonts/Founders_Grotesk_Regular/Founders_Grotesk_Regular.woff")
      format("woff"),
    url("assets/fonts/Founders_Grotesk_Regular/Founders_Grotesk_Regular.woff2")
      format("woff2");
}
@font-face {
  font-family: "Founders_Grotesk_Light";
  src: url("assets/fonts/Founders_Grotesk_Light/Founders_Grotesk_Light.woff")
      format("woff"),
    url("assets/fonts/Founders_Grotesk_Light/Founders_Grotesk_Light.woff2")
      format("woff2");
}

html {
  font-size: 10px;
  box-sizing: border-box;
}

body {
  font-family: "Founders_Grotesk_Regular", sans-serif !important;
  margin: 0;
}

p {
  font-family: "Founders_Grotesk_Light", sans-serif;
}

img {
  display: block;
}

button {
  background-color: $abre-black;
  color: #fff;
  width: 100%;
  padding: 10px 0;
  border-radius: 0;
  font-size: 20px;
  font-weight: 300;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  border: 1px solid $abre-black;
  cursor: pointer;

  &.out_of_stock {
    transition: 0.3s ease all;
    background: #fff;
    color: $abre-black;
  }
  &.green {
    background-color: $abre-green;
    border: none;
    &:hover {
      background: $abre-green;
      border: none;
      color: #fff;
    }
  }
  &:hover {
    transition: 0.3s ease all;
    background: transparent;
    color: $abre-black;
  }
  &:focus {
    box-shadow: none;
  }
}

.price {
  font-size: 14px;
  margin-bottom: 5px;
  span {
    font-size: 11px;
    margin-right: 5px;
  }
}

input[type="text"] {
  font-size: 30px;
  color: #1d1d1b;
  border: none;
  border-bottom: 1px solid $abre-grey;

  &:focus {
    box-shadow: none;
  }
}