// GRID SYSTEM
@import "_gird";

// FONTS
@font-face {
  font-family: "Founders_Grotesk_Regular";
  font-display: swap;
  src: url("assets/fonts/Founders_Grotesk_Regular/Founders_Grotesk_Regular.woff")
      format("woff"),
    url("assets/fonts/Founders_Grotesk_Regular/Founders_Grotesk_Regular.woff2")
      format("woff2");
}
@font-face {
  font-family: "Founders_Grotesk_Light";
  font-display: swap;
  src: url("assets/fonts/Founders_Grotesk_Light/Founders_Grotesk_Light.woff")
      format("woff"),
    url("assets/fonts/Founders_Grotesk_Light/Founders_Grotesk_Light.woff2")
      format("woff2");
}

// BASE STYLES 

html {
  font-size: 10px;
  box-sizing: border-box;
  color: $abre-black;
}

body {
  font-family: "Founders_Grotesk_Light", sans-serif;
  margin: 0;
  overflow-x: hidden;
  &.noscroll {
    position: fixed; 
    overflow-y: scroll;
    width: 100%;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
  margin-bottom: .5rem;
}

p{
  font-weight: normal;
  margin-bottom: 1rem;
}

img {
  display: block;
}

a{
  color: $abre-dark-grey;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

li, ol, ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

ol, ul {
    list-style: none;
}

button.btn, a.btn {
  font-family: "Founders_Grotesk_Light", sans-serif;
  background-color: $abre-black;
  color: #fff;
  width: 100%;
  padding: 10px 0;
  border-radius: 0;
  font-size: 20px;
  font-weight: 300;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  border: 1px solid $abre-black;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  &.out_of_stock {
    transition: 0.3s ease all;
    background: #fff;
    color: $abre-black;
  }
  &.green {
    background-color: $abre-green;
    border: none;
    &:hover {
      background: $abre-green;
      border: none;
      color: #fff;
    }
  }
  &:hover {
    transition: 0.3s ease all;
    background: transparent;
    color: $abre-black;
  }
  &:focus {
    box-shadow: none;
  }
}

input[type="text"] {
  font-size: 30px;
  color: #1d1d1b;
  border: none;
  border-bottom: 1px solid $abre-grey;

  &:focus {
    box-shadow: none;
  }
}

figure {
  margin: 0;
}

hr{
  box-sizing: content-box;
  height: 0;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1); 
}

use #menu {
  line,
  path,
  polyline {
  fill: transparent;
  stroke: $abre-dark-grey !important;
  stroke-width: 1px;
  }
}

.badge-free-shipping{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: $abre-black;
  position: absolute;
  z-index: 1;
  &:after{
    content: "Env\EDo Gratuito";
    display: block;
    top: 24%;
    font-family: "Founders_Grotesk_Light", sans-serif;
    font-size: 20px;
    margin: 0 auto;
    color: #fff;
    width: 65px;
    text-align: center;
    position: relative;
  }
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

