/* stylelint-disable-next-line block-no-empty */
:local {
  .swiper {
    display: block;
    max-height: 100vw;
    margin: 30px auto;

    @media (min-width: 768px) {
      max-height: 80vh;
      max-width: 50vw;
    }
  }

  .authors {
    font-size: 4.533333333vw;
    @media (min-width: 1024px) {
      margin: 0 !important;
      color: $grey !important;
      font-size: 1.02489019vw !important;
    }
  }


  #producto{
    overflow: hidden;

    h1 {
      color: #14273c;
      font-size: 30px;
    }
    .breadcrumb {
      padding: 0;
      margin-bottom: 30px;
      background-color: transparent;
      border-radius: 0;
      font-size: 16px;

      a {
        color: #14273c;
      }
    }
    .breadcrumb > .active {
      color: #14273c;
    }
    .breadcrumb > li + li:before {
      padding: 0 5px;
      color: #14273c;
      content: '\003e';
    }
    
    p {
      margin-top: 20px;
      font-size: 18px;
      color: #14273c;
    }
    
    .price {
      font-size: 20px;
      float: left;

      span {
        font-size: 16px;
      }
    }
    
    .description-box {
      margin: 20px 0;

      @media (min-width: 768px){
        margin: 0;
        padding-right: 10vw;
        padding-left: 5vw;
        margin-top: 10vw;
      }
    }
    
    .container-xs {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;

      @media (min-width: 768px){
        padding: 0;
      }
    }
    
    .additionalInfo {
      margin-bottom: 50px;

      li {
        margin-top: 20px;
      }

      h3 {
        font-size: 14px;
        color: #000;
        margin: 0;
      }

      p {
        font-size: 14px;
        color: #4d4d4d;
        margin: 0;
      }
    }
  }
}
